.icon_style {
  position: absolute;
  top: 30px;
  right: 60px;
  cursor: pointer;
}
.itemList_style {
  display: flex;
  margin: 20px;
  padding: 10px;
  border: 0.3px solid rgb(231, 225, 225);
}
.cart_item_style {
  position: absolute;
  top: 1px;
  right: 37px;
  background-color: rgb(7, 79, 112);
  color: whitesmoke;
  font-size: 14px;
  font-weight: 900;
  padding: 10px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.title {
  text-align: left;
  margin: 30px;
  font-size: 35px;
  font-weight: 600;
  color: rgb(57, 57, 151);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: normal;
}
