.main_container2 {
  display: flex;
  padding: 10px;
}
.item_style2 {
  width: 400px;
  background-color: aliceblue;
  font-size: 16px;
  margin: 15px;
  padding: 10px;
  font-weight: 500;
  text-align: start;
  border: 1px solid rgb(219, 216, 216);
}
.error2_style {
  font-size: 22px;
  color: rgb(8, 17, 94);
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
